@model Header;
@using DataLayer
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<div class="header-wrapper">
	<div class="container">
		<header>
			<div class="bd-navbar-toggle d-lg-none">
				<button class="navbar-toggler p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#bdSidebar">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi" fill="currentColor" viewBox="0 0 16 16">
						<path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
					</svg>
				</button>
			</div>

			<div class="col-md-3 mb-2 mb-md-0">
				<a href="/" class="logo link-body-emphasis text-decoration-none">
					<div class="logo-image">
						<svg width="47" height="56" viewBox="0 0 47 56" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M28.358 48.1171C23.9527 49.694 23.2769 50.0444 23.2769 50.6952V52.6537L12.6391 49.3685L6.0061 41.0586L6.63402 40.0864C6.70911 40.0364 7.93342 38.7558 9.18493 37.4042C11.6879 34.751 12.3137 33.5495 12.6391 30.8463C12.7392 30.0203 12.8643 29.2694 12.9394 29.1693C12.9895 29.0691 13.6153 29.4196 14.2911 29.9702C15.868 31.2217 16.3435 31.3469 19.222 31.3469C21.4997 31.3469 21.5748 31.3219 22.2006 30.596C22.8013 29.9202 22.8263 29.745 22.6762 28.143C22.5009 26.1656 21.5248 23.5125 19.9979 20.9344C19.4473 19.9832 19.0718 19.0821 19.1469 18.957C19.3972 18.5315 21.75 18.6816 23.6273 19.2323C25.9301 19.9081 27.6071 20.7842 28.2579 21.6102C28.6584 22.1108 29.209 22.3611 30.836 22.7115C34.7156 23.5625 34.8408 23.7377 34.0398 26.5161C33.5643 28.0679 33.2889 28.5435 32.2126 29.5948C30.9862 30.7962 29.3091 31.5722 27.0314 32.0728C25.83 32.3231 25.5296 32.7736 25.2793 34.6008C24.9038 37.2039 24.7787 37.7296 24.4283 37.7296C23.9527 37.7296 22.8514 36.453 22.4008 35.3517C21.8502 34.0251 21.3245 33.4744 20.6237 33.4744C19.4973 33.4744 18.1457 35.7021 17.8704 38.0299C17.7202 39.2814 17.57 39.5818 16.3686 40.8834C14.8417 42.5103 14.1409 43.8119 13.7654 45.6141C13.6403 46.3149 13.4651 47.1159 13.365 47.4162C13.2648 47.8167 13.349 48.0223 13.6244 48.1224C14.2 48.3476 14.3161 48.1922 14.5414 46.7404C14.7666 45.2887 15.7178 43.086 16.4437 42.3601C16.6203 42.1835 16.9413 41.8831 17.2743 41.5715C17.4602 41.3975 17.6499 41.22 17.8203 41.0586C18.5962 40.3577 18.7464 40.0824 18.8966 38.6807C19.1219 36.7284 19.6725 35.3016 20.3233 34.9512C20.9491 34.6258 21.0492 34.726 21.9253 36.4781C22.7763 38.1801 22.9765 38.3553 25.1541 39.0061C27.2567 39.6319 27.6321 39.9322 28.5582 41.7844C28.9587 42.5604 29.6095 43.6116 30.035 44.0622C30.9361 45.1134 30.9611 45.589 30.1602 46.7905C29.7347 47.4162 29.184 47.8167 28.358 48.1171ZM25.6547 24.4636C25.855 24.4636 26.0302 24.3134 26.0302 24.1132C26.0302 23.6877 25.6798 23.4123 25.4295 23.6376C25.1291 23.938 25.2793 24.4636 25.6547 24.4636ZM26.5558 42.9859C26.9062 42.9859 27.0314 42.8607 26.9813 42.5604C26.8562 41.9096 26.0302 41.8345 26.0302 42.4603C26.0302 42.8357 26.1804 42.9859 26.5558 42.9859Z" fill="currentColor" />
							<path d="M16.2432 20.1585C14.5161 21.3599 13.6651 22.8868 13.2646 25.54L12.9392 27.5424L13.9154 28.3684C15.4923 29.72 16.944 30.3207 18.8964 30.4208C20.3231 30.4959 20.7736 30.4459 21.2242 30.0454C21.7748 29.6199 21.7999 29.5198 21.5245 27.8678C21.2242 25.9154 20.3982 23.8129 18.9965 21.41C18.4709 20.5089 18.0203 19.6329 18.0203 19.4827C18.0203 19.0321 17.6699 19.1573 16.2432 20.1585Z" fill="currentColor" />
							<path d="M46.2419 32.5609C46.2419 44.9537 36.1142 55 23.621 55C11.1278 55 1 44.9537 1 32.5609C1 22.6439 7.48536 14.2293 16.4785 11.2631C16.75 11.1735 17.0115 11.4146 16.9506 11.694L16.1213 15.5032C16.0958 15.6205 16.0154 15.7184 15.906 15.7679C9.48435 18.6756 5.02151 25.1013 5.02151 32.5609C5.02151 42.7506 13.3488 51.0108 23.621 51.0108C33.8932 51.0108 42.2204 42.7506 42.2204 32.5609C42.2204 25.4434 38.1576 19.2672 32.2069 16.1899C32.1029 16.1362 32.0287 16.038 32.0072 15.9229C31.7672 14.6389 31.45 12.9425 31.2804 12.0354C31.2273 11.7515 31.5014 11.5188 31.771 11.6221C40.237 14.8668 46.2419 23.0183 46.2419 32.5609Z" fill="currentColor" />
							<path d="M23.1941 1.18177C23.4682 0.302694 24.7123 0.302693 24.9864 1.18176L26.3714 5.62517C26.4937 6.01735 26.8567 6.28448 27.2675 6.28448H31.8299C32.7297 6.28448 33.1139 7.42812 32.3966 7.97137L28.6394 10.8168C28.324 11.0556 28.1923 11.4666 28.31 11.8443L29.7291 16.3971C30.0009 17.2687 28.9942 17.9759 28.2664 17.4247L24.6569 14.6911C24.3218 14.4373 23.8587 14.4373 23.5236 14.6911L19.9141 17.4247C19.1863 17.9759 18.1797 17.2687 18.4514 16.3971L19.8705 11.8443C19.9882 11.4666 19.8565 11.0556 19.5411 10.8168L15.7839 7.97137C15.0666 7.42812 15.4508 6.28448 16.3506 6.28448H20.913C21.3238 6.28448 21.6868 6.01735 21.8091 5.62517L23.1941 1.18177Z" fill="currentColor" />
						</svg>
					</div>
					<div class="logo-text d-none d-md-block">
						<div class="logo-title">Вземи Любимец</div>
						<div class="logo-slogan  d-none d-xl-block">нов дом за щастливи опашки</div>
					</div>
				</a>
			</div>

			<ul class="nav col-12 col-md-auto mb-2 justify-content-start mb-md-0 d-none d-lg-flex flex-grow-1">
				<li><a asp-controller="Home" asp-action="Index" class="nav-link @(Model.Page == "home" ? "active" : "")">Начало</a></li>
				<li><a asp-controller="Pets" asp-action="Index" class="nav-link @(Model.Page == "pets" ? "active" : "")">Любимци</a></li>
				<li><a asp-controller="Site" asp-action="AboutUs" class="nav-link @(Model.Page == "aboutus" ? "active" : "")">За нас</a></li>
			</ul>

			<div class="col-md-3 text-end  d-none d-lg-flex">
				@if (SignInManager.IsSignedIn(User))
				{
					<div class="dropdown text-end">
						<a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
							<img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
						</a>
						<ul class="dropdown-menu text-small" style="">
							<li><a class="dropdown-item" href="#">Профил</a></li>
							<li><a class="dropdown-item" href="#">Смяна парола</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="#">Моите любимци</a></li>
							<li><a class="dropdown-item" href="#">Искания</a></li>
							<li><hr class="dropdown-divider"></li>
							<li>
								<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
									<button type="submit" class="nav-link btn btn-link text-dark w-100 text-start">Изход</button>
								</form>
							</li>
						</ul>
					</div>
				}
				else
				{
					<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
						<li><a asp-area="Identity" asp-page="/Account/Register" class="nav-link @(Model.Page == "register" ? "active" : "")">Регистрация</a></li>
						<li><a asp-area="Identity" asp-page="/Account/Login" class="nav-link @(Model.Page == "login" ? "active" : "")">Вход</a></li>
					</ul>
				}
			</div>
			<div class="bd-navbar-toggle  d-lg-none">
				<button class="navbar-toggler p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#userMenu">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
						<path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
					</svg>
				</button>
			</div>
		</header>
	</div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="bdSidebar" aria-labelledby="offcanvasLabel">
	<div class="offcanvas-header">
		<h5 class="offcanvas-title" id="offcanvasLabel">Menu</h5>
		<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		Content for the offcanvas goes here. You can place just about any Bootstrap component or custom elements here.
	</div>
</div>
<div class="offcanvas offcanvas-end" tabindex="-1" id="userMenu" aria-labelledby="offcanvasLabel">
	<div class="offcanvas-header">
		<h5 class="offcanvas-title" id="offcanvasLabel">User Menu</h5>
		<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		Content for the offcanvas goes here. You can place just about any Bootstrap component or custom elements here.
	</div>
</div>