@{
	ViewData["Title"] = "Users";
	Layout = "/Views/Shared/_LayoutAdmin.cshtml";
	var items = (List<User>)ViewBag.Items;
	var currentPage = (int)ViewBag.Page;
	var pageSize = (int)ViewBag.PageSize;
}
<h2 class="page-title">Потребители</h2>
<form method="get" name="filter">
	<input type="hidden" name="page" value="@currentPage" />
	<table class="table table-bordered table-striped w-100">
		<thead>
			<tr>
				<th style="width:60px;"></th>
				<th>потребител</th>
				<th>имейл</th>
				<th style="width:150px">име</th>
				<th>град</th>
				<th>роля</th>
				<th>активност</th>
				<th style="width:80px;">искания</th>
				<th style="width:80px;">любимци</th>
			</tr>
			<tr>
				<th>
					<button type="submit" class="btn btn-sm btn-outline-secondary w-100">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
							<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
						</svg>
					</button>
				</th>
				<th>
					<input name="username" class="form-control form-control-sm w-100" value="@ViewBag.Username">
				</th>
				<th>
					<input name="email" class="form-control form-control-sm w-100" value="@ViewBag.email">
				</th>
				<th>
					<input name="name" class="form-control form-control-sm w-100" value="@ViewBag.name">
				</th>
				<th>
					<input name="town" class="form-control form-control-sm w-100" value="@ViewBag.town">
				</th>
				<th>
					<input name="role" class="form-control form-control-sm w-100" value="@ViewBag.role">
				</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in items)
			{
				<tr>
					<td>
						<a href="/admin/users/@(item.Id)?returnUrl=@ViewBag.ReturnUrl" class="btn btn-outline-secondary">
							<svg class="bi" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
								<path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
							</svg>
						</a>
					</td>
					<td>@item.UserName</td>
					<td>@item.Email</td>
					<td>@item.Name</td>
					<td>@item.Town.Name</td>
					<td>@item.Role.ToDescriptionString()</td>
					<td style="text-align: center;">
						@if (item.IsActive)
						{
							<span class="badge bg-success" style="display: inline-block;">Активен</span>
						}
						else
						{
						<span class="badge bg-danger" style="display: inline-block;">Неактивен</span>
						}
					</td>
					<td>@item.RequestOutbox.Count</td>
					<td>@item.Pets.Count</td>
				</tr>
			}
			@if (items.Count == 0)
			{
				<tr>
					<td colspan="9">няма потребители отговарящи на твоята заявка</td>
				</tr>
			}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="9">
					<nav>
						<ul class="pagination mb-0">
							<li class="page-item @(currentPage == 1 ? "disabled" : "")">
								<button type="button" class="page-link" data-type="previous">Previous</button>
							</li>
							<li class="page-item @(items.Count < pageSize ? "disabled" : "")">
								<button type="button" class="page-link" data-type="next">Next</button>
							</li>
						</ul>
					</nav>
				</td>
			</tr>
		</tfoot>
	</table>
</form>
